<div style="display:flex;flex-direction: column;align-items: center;border: 1px solid;height: 100vh; justify-content:
  center; font-family: 'Geist', monospace;">
  <div style="color: grey; justify-self: center;">
    <span style="font-family: 'Geist', monospace; font-weight: bold; color: white;">0xNascimento_</span>
  </div>

  <div class="flex justify-center items-center" style="width: 70vw; color: white;">
    <span style="font-size: 55px; font-weight: bold;">Bem-vindo à tela de
      <span style="font-style: italic; background: linear-gradient(90deg, #ffcc00, #ff0202); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
        Listagem de Posts
      </span>
      📰
    </span>
  </div>

  <div style=" display: flex; margin: 2em; justify-content: space-around; width: 50vw; color: white;">
    <a href="/" class="hover:underline">inicio</a>
    <a href="/about/index" class="hover:underline">sobre</a>
    <a href="/contact/index" class="hover:underline">contate-me</a>
    <a href="/posts/new" class="hover:underline">criar post</a>
    <a href="/posts/index" class="hover:underline">listar post</a>
  </div>

  <div style="background-color: #1E1E1E; display: flex; flex-direction: column; justify-content: space-around;
    font-family: 'Courier New',serif; border-radius: 5px; color: white; width: 50vw; align-self: center; overflow-y:
    scroll; margin: 3em;">

    <div style="display: flex; align-items: center; gap: 8px; padding: 8px;">
      <div style="width: 12px; height: 12px; border-radius: 50%; background-color: #ff5f56;"></div>
      <div style="width: 12px; height: 12px; border-radius: 50%; background-color: #ffbd2e;"></div>
      <div style="width: 12px; height: 12px; border-radius: 50%; background-color: #27c93f;"></div>
    </div>

    <% @posts.each do |post| %>

      <div style="margin-bottom: 1em; padding: 1em;">
        <span style="font-size: 22px; font-family: 'Helvetica Neue', Helvetica, Arial, serif; font-weight: bold;"><%=
          post.title
        %></span>
        <p style="font-size: 12px; margin: 0.5em; font-family: 'Helvetica Neue', Helvetica, Arial, serif"><%= post.content
        %></p>
        <code style="color: grey; font-size: 10px;">Created at: <%= post.created_at.strftime("%d/%m/%Y %H:%M") %></code>
      </div>

    <% end %>
  </div>
</div>
